<a href="https://colab.research.google.com/github/SnehaPradhan04/Multithreading/blob/main/Multithreading1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import threading
def test(id) :
  print("this is my test id %d " % id)

In [3]:
test(10)

this is my test id 10

In [4]:
test(1)

this is my test id 1

In [5]:
test(3)

this is my test id 3

In [7]:
thred = [threading.Thread(target=test , args = (i,)) for i in[10, 1, 3]]

In [8]:
thred

[<Thread(Thread-13 (test), initial)>,
 <Thread(Thread-14 (test), initial)>,
 <Thread(Thread-15 (test), initial)>]

In [9]:
for t in thred:
  t.start()

this is my test id 10 this is my test id 1

this is my test id 3

In [13]:
import urllib.request
def file_download(url, filename):
  urllib.request.urlretrieve(url, filename)

In [15]:
file_download('https://www.espncricinfo.com/records/list-of-series-results-335432', "cricket.txt")

In [19]:
url_list = ('https://www.espncricinfo.com/records/list-of-series-results-335432', 'https://www.espncricinfo.com/series/asian-games-women-s-cricket-competition-2023-1398686/stats')

In [20]:
url_list

('https://www.espncricinfo.com/records/list-of-series-results-335432',
 'https://www.espncricinfo.com/series/asian-games-women-s-cricket-competition-2023-1398686/stats')

In [21]:
data_file_list = ['data1.txt' , 'data2.txt']

thread1 = [threading.Thread(target=file_download, args=(url_list[i],data_file_list[i])) for i in range(len(url_list))]
for t in thread1:
  t.start()

In [22]:
thread1

[<Thread(Thread-19 (file_download), stopped 139501343077952)>,
 <Thread(Thread-20 (file_download), stopped 139501433747008)>]

In [39]:
import time
def test2(x):
  for i in range(10):
    print("test1 print the value of x %d and print the value of i %d" %(x,i))
    time.sleep(1)

In [40]:
thread2 = [threading.Thread(target=test2, args=(i,)) for i in [100, 10, 20, 5]]

In [41]:
for t in thread2:
  t.start()

test1 print the value of x 100 and print the value of i 0
test1 print the value of x 10 and print the value of i 0
test1 print the value of x 20 and print the value of i 0
test1 print the value of x 5 and print the value of i 0

In [30]:
test2(10)

test1 print the value of x 10 and print the value of i 0
test1 print the value of x 10 and print the value of i 1
test1 print the value of x 10 and print the value of i 2
test1 print the value of x 10 and print the value of i 3
test1 print the value of x 10 and print the value of i 4
test1 print the value of x 10 and print the value of i 5
test1 print the value of x 10 and print the value of i 6
test1 print the value of x 10 and print the value of i 7
test1 print the value of x 10 and print the value of i 8
test1 print the value of x 10 and print the value of i 9

In [31]:
test2(2)

test1 print the value of x 2 and print the value of i 0
test1 print the value of x 2 and print the value of i 1
test1 print the value of x 2 and print the value of i 2
test1 print the value of x 2 and print the value of i 3
test1 print the value of x 2 and print the value of i 4
test1 print the value of x 2 and print the value of i 5
test1 print the value of x 2 and print the value of i 6
test1 print the value of x 2 and print the value of i 7
test1 print the value of x 2 and print the value of i 8
test1 print the value of x 2 and print the value of i 9

In [62]:
shared_var = 0
lock_var = threading.Lock()
def test3(x):
  global shared_var
  with lock_var:
    shared_var = shared_var+1
    print("value of x %d and value of shared_var %d " %(x, shared_var))
time.sleep(1)

thread4 = [threading.Thread(target=test3, args=(i,)) for i in [1,2,3,4,5,6]]
for t in thread4:
  t.start()

value of x 1 and value of shared_var 1
value of x 2 and value of shared_var 2
value of x 3 and value of shared_var 3
value of x 4 and value of shared_var 4
value of x 5 and value of shared_var 5
value of x 6 and value of shared_var 6

In [63]:
test3(1)

value of x 1 and value of shared_var 7

In [64]:
test3(2)

value of x 2 and value of shared_var 8